.header{
  height: 4rem;
  background-color: white;
}

.home-banner{
  height: 18rem;
  background-color: #0E2643;
}
.course-banner{
  height: 25rem;
  background-color: #0E2643;
}
.home-bar span{
  height: 8rem;
  background-color: aqua;
}
.img-container{
  width: 20rem;
  height: 10rem;
}

.custom-checkbox {
  accent-color: #0d6efd; /* Màu primary của Bootstrap */
}

.login input, .signup input{
  width: 30rem;
}

.nav-link {
  text-decoration: none; /* Bỏ dấu gạch chân */
  color: inherit; /* Sử dụng màu chữ mặc định */
}

.speech{
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;
  flex-direction: column;
}

.btn-speech{
  width: 6rem;
  height: 6rem;
  border-radius: 50px;
  background-image: radial-gradient(100% 100% at 100% 0, #b700ff 0, #0099ff 100%);
  border-color: none;
  border: none;
cursor: pointer;
}

.btn-speech:active{
  transform: translateY(0.5rem);
}

.speech-ic{
  width: 100%;
  height: 4rem;
  color: white;
}

.speech .text p{
  font-size: x-large;
  margin-bottom: 2rem;
}

.speech .text span{
  font-weight: bold;
}
.speech .text{
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.noti{
  visibility: hidden;
  
  font-weight: bold;
}

.noti-ic{
  margin-bottom: 6px;
  font-size: larger;
}


.noti.show.correct {
  visibility: visible;
  color: rgb(4, 187, 4); /* Màu xanh lá cây cho thông báo đúng */
}

.noti.show.wrong {
  visibility: visible;
  color: red; /* Màu đỏ cho thông báo sai */
}

.speech .next{
  
}

.speech .next button{
  margin-right: 1rem;
  margin-left: 1rem;
  width: 6.7rem;
  
  font-size: larger;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.685);
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.speech .next button:active{
  transform: translateY(2px);
}

.next-ic{
  font-size: 25px;
  margin-bottom: 3px;
}

.next{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

.text p{
  padding-left: 3rem;
  padding-right: 3rem;
}

.banner-1{
  background-image: linear-gradient(to right, #03748d, #0300b08f);
}

.progress-bar{
  width: 100%;
  height: 20px;
  
}

.progress-bar::-webkit-progress-value {
  background-image: linear-gradient( 109.6deg, rgb(110, 251, 164) 11.2%, rgba(156,252,248,1) 91.1% );
}

.progress-bar1{
  width: 90%;
  
  
}
.progress-bar1::-webkit-progress-value {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  
}

.home-item span{
  background-color: #0099ff3d;
  color: blue;
  font-size: smaller;
}

.star{
  color: rgba(255, 196, 0, 0.801);
 
}

.study-header{
  background-image: linear-gradient(to right, #0f0c29, #483fa7, #24243e);
}

.p-tree ul {
  list-style: none; /* Loại bỏ chấm tròn */
  padding-left: 0;  /* Loại bỏ khoảng cách thụt lề */
}

.p-tree li {
  margin-left: 0; /* Đảm bảo không có thụt lề */
}
.p-tree button{
  margin-left: 1rem;
}
.p-treenode-content {
  display: flex; /* Đảm bảo rằng nút và nội dung cũng được hiển thị theo hàng */
 border-bottom: black 1px solid;
 min-height: 4rem;
 align-items: center;
}



